<!DOCTYPE html>
<html>
  <head>
    <title>Mean Girls</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Mean Girls Quotes!!</h1>
    <section class="quote">
      <p>"Oh my God, Karen, you can't just ask people why they're @Model.Adjective!"</p>
    </section>

    <section class="quote">
      <p>"On @Model.DayOfTheWeek we wear @Model.Color."</p>
    </section>

    <section class="quote">

    </section>
  </body>
</html>
